{% extends 'base.html' %}
{% block title %}Dashboard - {{ block.super }}{% endblock %}
{% block content %}
<h1 class="mb-4 text-home">{{ page_title }}</h1>

    <div class="alert alert-danger" role="alert">
        <p>Você tem certeza que deseja excluir o inquilino "<strong>{{ tenant.name }}</strong>" (CPF: {{ tenant.cpf }})?</p>
        <p>Esta ação não pode ser desfeita.</p>
    </div>

    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger me-2">Sim, Excluir</button>
        <a href="{% url 'Tenant:tenant_list' %}" class="btn btn-secondary">Cancelar</a>
    </form>

{% endblock %}